ecommerce-front/dist
ecommerce-front/.vscode
ecommerce-front/node_modules
ecommerce-front/Product.json
ecommerce-front/.browserslistrc
ecommerce-front/.editorconfig
ecommerce-front/dist
ecommerce-front/.vscode
ecommerce-front/package-lock.json
ecommerce-front/node_modules
ecommerce-front/Product.json
ecommerce-front/debug.log

### IDEA###
ecomerce-back/.idea/
ecomerce-back/.apt_generated
ecomerce-back/.classpath
ecomerce-back/.factorypath
ecomerce-back/.project
ecomerce-back/.settings
ecomerce-back/.springBeans
ecomerce-back/.sts4-cache
ecomerce-back/.gradle
ecomerce-back/bin/
ecomerce-back/build/
!ecomerce-back/gradle/wrapper/gradle-wrapper.jar
!ecomerce-back/src/main/**/build/
!ecomerce-back/src/test/**/build/
ecomerce-back/gradle.properties
ecomerce-back/src/main/resources/static/
bin/

