<div class="page-wrapper">

    <header class="header-desktop" style="left: 0px;">
        <div class="section-content section-content-p30">
            <div class="container-fluid">
                <div class="header-wrap">
                    <form class="form-header" onsubmit="return false;" method="GET">
                        <input class="au-input au-input-xl" type="text" name="search" #searchValue
                            placeholder="Search for data ..." />
                        <button class="au-btn-submit" type="submit" > Search </button>
                    </form>
                    <div class="cart-area d-n">
                        <a href="shopping-detail.html">
                            <div class="total">19.22 <span> 2</span> </div> <i class="fa fa-shopping-cart"
                                aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<main class="container">
 
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img class="active" src="../../../assets/images/products/books/book-luv2code-1001.png" 
      style="width:400px; height:300px" />
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <span>Category </span>
        <h1>Product Name</h1>
        <p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high isolation. Sturdy headband and on-ear cushions suitable for live performance</p>
      </div>
   
      <!-- Product Configuration -->
      <div class="product-configuration">
   
        <!-- Cable Configuration -->
        <div class="cable-config">
          <span>unit left</span>
        </div>
      </div>
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span>148$</span>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
</main>