<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            
            <li>
                <a href="#">Mouse Pads</a>
            </li>
            <li>
                <a href="#">Luggage Tags</a>
            </li>
        </ul>
    </nav>
</div>

<table class="table">

    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>units in stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td class="align-middle">
                <img src="{{p.imageUrl}}" width="30px" height="30px" />
            </td>
            <td class="align-middle">{{p.name}}</td>
            <td class="align-middle">{{p.unitPrice}}</td>
            <td class="align-middle">{{p.unitsInStock}}</td>
        </tr>
    </tbody>



</table>
